<link rel="import" href="../../bower_components/polymer/polymer-element.html">
    <link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
        <div class="row">
            <h1>Gestor de Clientes</h1>
        </div>
        <div class="row">
            <button class="btn btn-success" on-click="obtenerClientes">Obtener Clientes</button>
        </div>
        <div class="row">
            <table class="table table-hover">
                <tbody>
                    <template is="dom-repeat" items="{{clientes}}">
                        <tr>
                           <td>[[item.CustomerID]]</td>
                           <td>[[item.ContactName]]</td>
                           <td>[[item.CompanyName]]</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      procesarClientes(clientes) {
        var _clientes = clientes.value;
        this.clientes = _clientes;
        console.table(_clientes);
      }
      
      respuestaRecibida(response) {
        if( response.status == 200 ) {
          response.json().then($.proxy(this.procesarClientes, this));
        }
      };

      obtenerClientes() {
        fetch("https://services.odata.org/V4/Northwind/Northwind.svc/Customers",
                { headers: { 'Accept': 'application/json' } })
        .then($.proxy(this.respuestaRecibida, this)).catch(console.error);
      }

    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
